This Project includes the Basic Data Analysis of Airline delay dataset

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('Airline_Delay_Cause.csv')
df

,Unnamed: 0,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,5,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",136.0,7.0,5.95,0.00,...,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0
1,2022,5,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",91.0,16.0,7.38,0.00,...,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0
2,2022,5,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",19.0,2.0,0.13,0.00,...,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0
3,2022,5,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",88.0,14.0,7.26,0.76,...,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0
4,2022,5,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,19.0,13.84,0.00,...,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318012,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,3.09,...,0.0,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0
318013,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,2.24,...,0.0,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0
318014,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,0.00,...,0.0,2.15,0.0,0.0,896.0,205.0,0.0,607.0,0.0,84.0
318015,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,0.00,...,0.0,1.42,0.0,0.0,367.0,120.0,0.0,210.0,0.0,37.0
318016,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,7.61,...,1.0,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0

In [3]:
df.head()
df.tail()
df.info()
df.shape
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318017 entries, 0 to 318016
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           318017 non-null  int64
 1   month                318017 non-null  int64
 2   carrier              318013 non-null  object
 3   carrier_name         318013 non-null  object
 4   airport              318014 non-null  object
 5   airport_name         318017 non-null  object
 6   arr_flights          317524 non-null  float64
 7   arr_del15            317285 non-null  float64
 8   carrier_ct           317525 non-null  float64
 9   weather_ct           317523 non-null  float64
 10  nas_ct               317529 non-null  float64
 11  security_ct          317529 non-null  float64
 12  late_aircraft_ct     317529 non-null  float64
 13  arr_cancelled        317529 non-null  float64
 14  arr_diverted         317527 non-null  float64
 15  arr_delay            317523 non-null  float64
 16  carrier_delay        317525 non-null  float64
 17  weather_delay        317529 non-null  float64
 18  nas_delay            317529 non-null  float64
 19  security_delay       317527 non-null  float64
 20  late_aircraft_delay  317529 non-null  float64
dtypes: float64(15), int64(2), object(4)
memory usage: 46.1+ MB

,Unnamed: 0,month,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
count,318017.000000,318017.000000,317524.000000,317285.000000,317525.000000,317523.000000,317529.000000,317529.000000,317529.000000,317529.000000,317527.000000,317523.000000,317525.000000,317529.000000,317529.000000,317527.000000,317529.000000
mean,2012.450957,6.497844,381.766670,72.905076,21.073149,2.616407,24.005228,0.179037,24.975734,7.207257,0.867674,4209.989113,1286.577224,220.567542,1099.516422,7.214845,1596.062993
std,5.678296,3.459423,1027.156722,198.936754,47.671580,9.968640,85.113757,0.844834,75.275223,37.216301,3.915772,12519.021012,3515.417309,861.521440,4636.475908,38.854685,4924.950687
min,2003.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-19.000000,0.000000,0.000000
25%,2007.000000,3.000000,59.000000,9.000000,3.000000,0.000000,1.680000,0.000000,1.640000,0.000000,0.000000,436.000000,148.000000,0.000000,56.000000,0.000000,79.000000
50%,2012.000000,6.000000,120.000000,23.000000,8.190000,0.580000,5.490000,0.000000,5.860000,1.000000,0.000000,1201.000000,437.000000,25.000000,203.000000,0.000000,351.000000
75%,2018.000000,10.000000,273.000000,56.000000,19.690000,2.000000,15.350000,0.000000,17.040000,4.000000,1.000000,3080.000000,1100.000000,159.000000,602.000000,0.000000,1110.000000
max,2022.000000,12.000000,21977.000000,6377.000000,1792.070000,717.940000,4091.270000,80.560000,1885.470000,4951.000000,256.000000,433687.000000,196944.000000,57707.000000,238440.000000,3760.000000,148181.000000

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,318017.0,2012.450957,5.678296,2003.00,2007.00,2012.00,2018.00,2022.00
month,318017.0,6.497844,3.459423,1.00,3.00,6.00,10.00,12.00
arr_flights,317524.0,381.766670,1027.156722,1.00,59.00,120.00,273.00,21977.00
arr_del15,317285.0,72.905076,198.936754,0.00,9.00,23.00,56.00,6377.00
carrier_ct,317525.0,21.073149,47.671580,0.00,3.00,8.19,19.69,1792.07
weather_ct,317523.0,2.616407,9.968640,0.00,0.00,0.58,2.00,717.94
nas_ct,317529.0,24.005228,85.113757,-0.01,1.68,5.49,15.35,4091.27
security_ct,317529.0,0.179037,0.844834,0.00,0.00,0.00,0.00,80.56
late_aircraft_ct,317529.0,24.975734,75.275223,0.00,1.64,5.86,17.04,1885.47
arr_cancelled,317529.0,7.207257,37.216301,0.00,0.00,1.00,4.00,4951.00
arr_diverted,317527.0,0.867674,3.915772,0.00,0.00,0.00,1.00,256.00
arr_delay,317523.0,4209.989113,12519.021012,0.00,436.00,1201.00,3080.00,433687.00
carrier_delay,317525.0,1286.577224,3515.417309,0.00,148.00,437.00,1100.00,196944.00
weather_delay,317529.0,220.567542,861.521440,0.00,0.00,25.00,159.00,57707.00
nas_delay,317529.0,1099.516422,4636.475908,-19.00,56.00,203.00,602.00,238440.00
security_delay,317527.0,7.214845,38.854685,0.00,0.00,0.00,0.00,3760.00
late_aircraft_delay,317529.0,1596.062993,4924.950687,0.00,79.00,351.00,1110.00,148181.00

In [8]:
cat_cols = df.select_dtypes(include = ['object']).columns.tolist()
num_cols = df.select_dtypes(include = ['int64' , 'float64']).columns.tolist()

print("Categorical columns:", cat_cols)
print("Numeric columns:", num_cols)

for col in cat_cols:
    print(f"\nValue counts for '{col}':")
    print(df[col].value_counts())

Categorical columns: ['carrier', 'carrier_name', 'airport', 'airport_name']
Numeric columns: ['Unnamed: 0', 'month', 'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay']

Value counts for 'carrier':
carrier
OO    38145
DL    27581
EV    26671
MQ    24402
AA    19781
UA    19131
WN    17576
YV    14528
AS    12942
F9    12306
OH    11999
9E    11998
B6    11585
US    10698
NW     8080
XE     7375
FL     6956
CO     6917
G4     6432
YX     4449
RU     4136
NK     3797
HA     3580
DH     1924
HP     1581
VX     1428
TZ      924
QX      838
AQ      253
Name: count, dtype: int64

Value counts for 'carrier_name':
carrier_name
SkyWest Airlines Inc.           38145
Delta Air Lines Inc.            27581
ExpressJet Airlines Inc.        24542
American Airlines Inc.          19781
United Air Lines Inc.           19131
Southwest Airlines Co.          17576
American Eagle Airlines Inc.    15409
Mesa Airlines Inc.              14528
Alaska Airlines Inc.            12942
Frontier Airlines Inc.          12306
Atlantic Southeast Airlines     12204
JetBlue Airways                 11585
US Airways Inc.                 10698
Envoy Air                        8993
Northwest Airlines Inc.          8080
Comair Inc.                      7775
AirTran Airways Corporation      6956
Continental Air Lines Inc.       6917
Pinnacle Airlines Inc.           6454
Allegiant Air                    6432
Endeavor Air Inc.                5544
Republic Airline                 4449
PSA Airlines Inc.                4224
Spirit Air Lines                 3797
Hawaiian Airlines Inc.           3580
America West Airlines Inc.       1581
ExpressJet Airlines LLC          1436
Virgin America                   1428
Atlantic Coast Airlines          1253
ATA Airlines d/b/a ATA            924
Horizon Air                       838
Independence Air                  671
Aloha Airlines Inc.               253
Name: count, dtype: int64

Value counts for 'airport':
airport
DTW    3022
LAX    2990
LAS    2978
MCI    2967
PIT    2950
       ...
TKI       1
ENV       1
SKA       1
CBM       1
YNG       1
Name: count, Length: 420, dtype: int64

Value counts for 'airport_name':
airport_name
Detroit, MI: Detroit Metro Wayne County              3022
Los Angeles, CA: Los Angeles International           2990
Las Vegas, NV: McCarran International                2978
Kansas City, MO: Kansas City International           2967
Pittsburgh, PA: Pittsburgh International             2951
                                                     ...
Tokeen, AK: Tokeen Airport                              1
Wendover, UT: Wendover Airport                          1
Spokane, WA: Fairchild AFB                              1
Columbus, MS: Columbus AFB                              1
Youngstown/Warren, OH: Youngstown-Warren Regional       1
Name: count, Length: 420, dtype: int64

In [5]:
df.isnull().sum()

Unnamed: 0               0
month                    0
carrier                  4
carrier_name             4
airport                  3
airport_name             0
arr_flights            493
arr_del15              732
carrier_ct             492
weather_ct             494
nas_ct                 488
security_ct            488
late_aircraft_ct       488
arr_cancelled          488
arr_diverted           490
arr_delay              494
carrier_delay          492
weather_delay          488
nas_delay              488
security_delay         490
late_aircraft_delay    488
dtype: int64

In [15]:
df['carrier'] = df['carrier'].fillna('NA')

In [12]:
df['carrier_name'] = df['carrier_name'].fillna('NA')

In [13]:
df['airport'] = df['airport'].fillna('NA')

In [16]:
print(df.isnull().sum())

Unnamed: 0               0
month                    0
carrier                  0
carrier_name             0
airport                  0
airport_name             0
arr_flights            493
arr_del15              732
carrier_ct             492
weather_ct             494
nas_ct                 488
security_ct            488
late_aircraft_ct       488
arr_cancelled          488
arr_diverted           490
arr_delay              494
carrier_delay          492
weather_delay          488
nas_delay              488
security_delay         490
late_aircraft_delay    488
dtype: int64

In [17]:
df_filled = df.fillna(df.mean(numeric_only = True))

print("\nMissing values after:")
print(df_filled.isnull().sum()) 

df_filled.to_csv("operations.csv",index=False)
df_filled.head()

Missing values after:
Unnamed: 0             0
month                  0
carrier                0
carrier_name           0
airport                0
airport_name           0
arr_flights            0
arr_del15              0
carrier_ct             0
weather_ct             0
nas_ct                 0
security_ct            0
late_aircraft_ct       0
arr_cancelled          0
arr_diverted           0
arr_delay              0
carrier_delay          0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
dtype: int64

,Unnamed: 0,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,5,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",136.0,7.0,5.95,0.00,...,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0
1,2022,5,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",91.0,16.0,7.38,0.00,...,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0
2,2022,5,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",19.0,2.0,0.13,0.00,...,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0
3,2022,5,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",88.0,14.0,7.26,0.76,...,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0
4,2022,5,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,19.0,13.84,0.00,...,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0

In [23]:
df.to_csv("Airline_Delay_Cause.csv", index=False)

In [21]:
print(df)

        Unnamed: 0  month carrier          carrier_name airport  \
0             2022      5      9E     Endeavor Air Inc.     ABE
1             2022      5      9E     Endeavor Air Inc.     ABY
2             2022      5      9E     Endeavor Air Inc.     ACK
3             2022      5      9E     Endeavor Air Inc.     AEX
4             2022      5      9E     Endeavor Air Inc.     AGS
...            ...    ...     ...                   ...     ...
318012        2003      6      DL  Delta Air Lines Inc.     SEA
318013        2003      6      DL  Delta Air Lines Inc.     SFO
318014        2003      6      DL  Delta Air Lines Inc.     SJC
318015        2003      6      DL  Delta Air Lines Inc.     SJU
318016        2003      6      DL  Delta Air Lines Inc.     SLC

                                             airport_name  arr_flights  \
0       Allentown/Bethlehem/Easton, PA: Lehigh Valley ...        136.0
1                  Albany, GA: Southwest Georgia Regional         91.0
2                       Nantucket, MA: Nantucket Memorial         19.0
3                Alexandria, LA: Alexandria International         88.0
4             Augusta, GA: Augusta Regional at Bush Field        181.0
...                                                   ...          ...
318012          Seattle, WA: Seattle/Tacoma International        480.0
318013     San Francisco, CA: San Francisco International        505.0
318014  San Jose, CA: Norman Y. Mineta San Jose Intern...        146.0
318015       San Juan, PR: Luis Munoz Marin International         95.0
318016   Salt Lake City, UT: Salt Lake City International       3466.0

        arr_del15  carrier_ct  weather_ct  ...  security_ct  late_aircraft_ct  \
0             7.0        5.95        0.00  ...          0.0              1.00
1            16.0        7.38        0.00  ...          0.0              6.09
2             2.0        0.13        0.00  ...          0.0              0.88
3            14.0        7.26        0.76  ...          0.0              1.64
4            19.0       13.84        0.00  ...          0.0              2.09
...           ...         ...         ...  ...          ...               ...
318012       84.0       25.69        3.09  ...          0.0             21.26
318013      111.0       21.78        2.24  ...          0.0             13.17
318014       36.0        6.99        0.00  ...          0.0              2.15
318015       13.0        3.66        0.00  ...          0.0              1.42
318016      454.0      121.15        7.61  ...          1.0            102.33

        arr_cancelled  arr_diverted  arr_delay  carrier_delay  weather_delay  \
0                 0.0           0.0      255.0          222.0            0.0
1                 0.0           0.0      884.0          351.0            0.0
2                 1.0           0.0      138.0            4.0            0.0
3                 0.0           0.0      947.0          585.0           35.0
4                 0.0           0.0      808.0          662.0            0.0
...               ...           ...        ...            ...            ...
318012            0.0           0.0     3744.0          978.0          164.0
318013            3.0           0.0     4284.0         1376.0          138.0
318014            0.0           0.0      896.0          205.0            0.0
318015            0.0           0.0      367.0          120.0            0.0
318016            9.0           0.0    16853.0         5384.0          306.0

        nas_delay  security_delay  late_aircraft_delay
0             4.0             0.0                 29.0
1            81.0             0.0                452.0
2           106.0             0.0                 28.0
3           125.0             0.0                202.0
4            87.0             0.0                 59.0
...           ...             ...                  ...
318012     1023.0             0.0               1579.0
318013     2132.0             0.0                638.0
318014      607.0             0.0                 84.0
318015      210.0             0.0                 37.0
318016     5686.0            28.0               5449.0

[318017 rows x 21 columns]