This Project includes the Basic Data Analysis of Covid 19 dataset

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('covid_19.csv')
df

,country,continent,population,day,time,Cases,Recovered,Deaths,Tests
0,Saint-Helena,Africa,6115.0,2024-06-30,2024-06-30T16:15:16+00:00,2166,2.0,NaN,NaN
1,Falkland-Islands,South-America,3539.0,2024-06-30,2024-06-30T16:15:16+00:00,1930,1930.0,NaN,8632.0
2,Montserrat,North-America,4965.0,2024-06-30,2024-06-30T16:15:16+00:00,1403,1376.0,8.0,17762.0
3,Diamond-Princess,NaN,NaN,2024-06-30,2024-06-30T16:15:16+00:00,712,699.0,13.0,NaN
4,Vatican-City,Europe,799.0,2024-06-30,2024-06-30T16:15:16+00:00,29,29.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
233,Argentina,South-America,46010234.0,2024-06-30,2024-06-30T16:15:10+00:00,10128845,9997258.0,130841.0,35716069.0
234,Netherlands,Europe,17211447.0,2024-06-30,2024-06-30T16:15:10+00:00,8635786,8612599.0,22992.0,25984435.0
235,Mexico,North-America,131562772.0,2024-06-30,2024-06-30T16:15:10+00:00,7702809,6899865.0,334958.0,20013810.0
236,Iran,Asia,86022837.0,2024-06-30,2024-06-30T16:15:10+00:00,7627186,NaN,146811.0,57320267.0
237,Indonesia,Asia,279134505.0,2024-06-30,2024-06-30T16:15:10+00:00,6829221,6647104.0,162063.0,114158919.0

In [4]:
df.head()
df.tail()
df.info()
df.shape
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     238 non-null    object
 1   continent   236 non-null    object
 2   population  229 non-null    float64
 3   day         238 non-null    object
 4   time        238 non-null    object
 5   Cases       238 non-null    int64
 6   Recovered   190 non-null    float64
 7   Deaths      233 non-null    float64
 8   Tests       213 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 13.1+ KB

         population         Cases     Recovered        Deaths         Tests
count  2.290000e+02  2.380000e+02  1.900000e+02  2.330000e+02  2.130000e+02
mean   3.469404e+07  8.883449e+06  1.006214e+07  9.026621e+04  3.298829e+07
std    1.386374e+08  5.193031e+07  5.555519e+07  5.163434e+05  1.198779e+08
min    7.990000e+02  9.000000e+00  2.000000e+00  1.000000e+00  7.850000e+03
25%    4.454310e+05  2.741875e+04  2.197250e+04  2.250000e+02  3.478150e+05
50%    5.797805e+06  2.320425e+05  2.351455e+05  2.570000e+03  2.226216e+06
75%    2.210284e+07  1.565481e+06  2.078212e+06  1.805700e+04  1.346373e+07
max    1.448471e+09  7.047539e+08  6.756198e+08  7.010681e+06  1.186852e+09

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
population,229.0,3.469404e+07,1.386374e+08,799.0,445431.00,5797805.0,22102838.00,1.448471e+09
Cases,238.0,8.883449e+06,5.193031e+07,9.0,27418.75,232042.5,1565481.25,7.047539e+08
Recovered,190.0,1.006214e+07,5.555519e+07,2.0,21972.50,235145.5,2078211.50,6.756198e+08
Deaths,233.0,9.026621e+04,5.163434e+05,1.0,225.00,2570.0,18057.00,7.010681e+06
Tests,213.0,3.298829e+07,1.198779e+08,7850.0,347815.00,2226216.0,13463733.00,1.186852e+09

In [7]:
cat_col = df.select_dtypes(include = ['object']).columns.tolist()
num_cols = df.select_dtypes(include = ['int64', 'float64']).columns.tolist()

print("Categorical columns:", cat_col)
print("Numeric columns:", num_cols)

for col in cat_col:
    print(f"\nValue counts for '{col}':")
    print(df[col].value_counts())

Categorical columns: ['country', 'continent', 'day', 'time']
Numeric columns: ['population', 'Cases', 'Recovered', 'Deaths', 'Tests']

Value counts for 'country':
country
Saint-Helena    1
Iceland         1
Kenya           1
Brunei          1
Albania         1
               ..
Saint-Lucia     1
Benin           1
Macao           1
Micronesia      1
Indonesia       1
Name: count, Length: 238, dtype: int64

Value counts for 'continent':
continent
Africa           59
Asia             51
Europe           49
North-America    40
Oceania          21
South-America    15
All               1
Name: count, dtype: int64

Value counts for 'day':
day
2024-06-30    238
Name: count, dtype: int64

Value counts for 'time':
time
2024-06-30T16:15:12+00:00    47
2024-06-30T16:15:11+00:00    47
2024-06-30T16:15:15+00:00    44
2024-06-30T16:15:14+00:00    33
2024-06-30T16:15:13+00:00    28
2024-06-30T16:15:10+00:00    27
2024-06-30T16:15:16+00:00    12
Name: count, dtype: int64

In [8]:
df.isnull().sum()

country        0
continent      2
population     9
day            0
time           0
Cases          0
Recovered     48
Deaths         5
Tests         25
dtype: int64

In [9]:
print("Number of duplicate rows:",df.duplicated().sum())

Number of duplicate rows: 0

In [11]:
print("Conutry:", df['country'].min(), "to", df['country'].max())
print("Population:", df['population'].min(), "to", df['population'].max())
print("cases:", df['Cases'].min(), "to", df['Cases'].max())

Conutry: Afghanistan to Zimbabwe
Population: 799.0 to 1448471400.0
cases: 9 to 704753890