This Project includes the Basic Data Analysis of student performance dataset

In [9]:
# Importing necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv('Student_Performance.csv')
df

,student_id,age,gender,school_type,parent_education,study_hours,attendance_percentage,internet_access,travel_time,extra_activities,study_method,math_score,science_score,english_score,overall_score,final_grade
0,1,14,male,public,post graduate,3.1,84.3,yes,<15 min,yes,notes,42.7,55.4,57.0,53.1,e
1,2,18,female,public,graduate,3.7,87.8,yes,>60 min,no,textbook,57.6,68.8,64.8,61.3,d
2,3,17,female,private,post graduate,7.9,65.5,no,<15 min,no,notes,84.8,95.0,79.2,89.6,b
3,4,16,other,public,high school,1.1,58.1,no,15-30 min,no,notes,44.4,27.5,54.7,41.6,e
4,5,16,female,public,high school,1.3,61.0,yes,30-60 min,yes,group study,8.9,32.7,30.0,25.4,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,12047,17,female,public,phd,1.8,55.2,yes,15-30 min,no,mixed,55.8,48.5,46.7,46.1,e
24996,1102,16,female,private,diploma,2.7,97.1,yes,<15 min,no,coaching,64.8,48.2,52.3,56.5,d
24997,4422,19,other,private,post graduate,1.0,63.0,yes,<15 min,no,group study,50.5,20.3,36.1,36.7,f
24998,7858,14,male,private,diploma,1.0,69.4,yes,15-30 min,yes,group study,13.0,34.2,7.3,34.1,f
24999,11621,18,other,public,no formal,0.7,60.3,yes,30-60 min,no,mixed,36.5,45.1,16.5,31.4,f

In [10]:
# Basic operations to perform
df.head()
df.tail()
df.info()
df.shape
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   student_id             25000 non-null  int64
 1   age                    25000 non-null  int64
 2   gender                 25000 non-null  object
 3   school_type            25000 non-null  object
 4   parent_education       25000 non-null  object
 5   study_hours            25000 non-null  float64
 6   attendance_percentage  25000 non-null  float64
 7   internet_access        25000 non-null  object
 8   travel_time            25000 non-null  object
 9   extra_activities       25000 non-null  object
 10  study_method           25000 non-null  object
 11  math_score             25000 non-null  float64
 12  science_score          25000 non-null  float64
 13  english_score          25000 non-null  float64
 14  overall_score          25000 non-null  float64
 15  final_grade            25000 non-null  object
dtypes: float64(6), int64(2), object(8)
memory usage: 2.3+ MB

,student_id,age,study_hours,attendance_percentage,math_score,science_score,english_score,overall_score
count,25000.00000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000
mean,7493.04380,16.482760,4.253224,75.084084,63.785944,63.745320,63.681948,64.006172
std,4323.56215,1.703895,2.167541,14.373171,20.875262,20.970529,20.792693,18.932025
min,1.00000,14.000000,0.500000,50.000000,0.000000,0.000000,0.000000,14.500000
25%,3743.75000,15.000000,2.400000,62.800000,48.300000,48.200000,48.300000,49.000000
50%,7461.50000,16.000000,4.300000,75.100000,64.100000,64.100000,64.200000,64.200000
75%,11252.00000,18.000000,6.100000,87.500000,80.000000,80.000000,80.000000,79.000000
max,15000.00000,19.000000,8.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [11]:
df.describe().T  #Transpose

,count,mean,std,min,25%,50%,75%,max
student_id,25000.0,7493.043800,4323.562150,1.0,3743.75,7461.5,11252.0,15000.0
age,25000.0,16.482760,1.703895,14.0,15.00,16.0,18.0,19.0
study_hours,25000.0,4.253224,2.167541,0.5,2.40,4.3,6.1,8.0
attendance_percentage,25000.0,75.084084,14.373171,50.0,62.80,75.1,87.5,100.0
math_score,25000.0,63.785944,20.875262,0.0,48.30,64.1,80.0,100.0
science_score,25000.0,63.745320,20.970529,0.0,48.20,64.1,80.0,100.0
english_score,25000.0,63.681948,20.792693,0.0,48.30,64.2,80.0,100.0
overall_score,25000.0,64.006172,18.932025,14.5,49.00,64.2,79.0,100.0

In [13]:
# Check basic info for categorical columns

cat_col = df.select_dtypes(include = ['object']).columns.tolist()
num_cols = df.select_dtypes(include = ['int64', 'float64']).columns.tolist()

print("Categorical columns:", cat_col)
print("Numeric columns:", num_cols)

for col in cat_col:
    print(f"\nValue counts for '{col}':")
    print(df[col].value_counts())

Categorical columns: ['gender', 'school_type', 'parent_education', 'internet_access', 'travel_time', 'extra_activities', 'study_method', 'final_grade']
Numeric columns: ['student_id', 'age', 'study_hours', 'attendance_percentage', 'math_score', 'science_score', 'english_score', 'overall_score']

Value counts for 'gender':
gender
other     8463
female    8290
male      8247
Name: count, dtype: int64

Value counts for 'school_type':
school_type
private    12725
public     12275
Name: count, dtype: int64

Value counts for 'parent_education':
parent_education
diploma          4314
high school      4205
post graduate    4196
graduate         4127
no formal        4079
phd              4079
Name: count, dtype: int64

Value counts for 'internet_access':
internet_access
yes    21227
no      3773
Name: count, dtype: int64

Value counts for 'travel_time':
travel_time
15-30 min    6362
30-60 min    6345
>60 min      6166
<15 min      6127
Name: count, dtype: int64

Value counts for 'extra_activities':
extra_activities
yes    12500
no     12500
Name: count, dtype: int64

Value counts for 'study_method':
study_method
mixed            4341
textbook         4239
notes            4165
online videos    4139
group study      4090
coaching         4026
Name: count, dtype: int64

Value counts for 'final_grade':
final_grade
d    6311
c    6161
e    5672
f    2955
b    2696
a    1205
Name: count, dtype: int64

In [14]:
# Check missing values

df.isnull().sum()

student_id               0
age                      0
gender                   0
school_type              0
parent_education         0
study_hours              0
attendance_percentage    0
internet_access          0
travel_time              0
extra_activities         0
study_method             0
math_score               0
science_score            0
english_score            0
overall_score            0
final_grade              0
dtype: int64

In [16]:
# Check for duplicate rows

print("Number of duplicate rows:",df.duplicated().sum())

Number of duplicate rows: 10000

In [17]:
#Drop duplicates if any

df = df.drop_duplicates().reset_index(drop=True)
print("Shape after dropping duplicates:", df.shape)

Shape after dropping duplicates: (15000, 16)

In [18]:
#Check of duplicate rows
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

In [21]:
# Basic sanity checks
#Age range, attendance ,scores sanity

print("Age range:", df['age'].min(), "to", df['age'].max())
print("Attendance range:", df['attendance_percentage'].min(), "to", df['attendance_percentage'].max())
print("Overall score range:", df['overall_score'].min(), "to", df['overall_score'].max())

Age range: 14 to 19
Attendance range: 50.0 to 100.0
Overall score range: 14.5 to 100.0