In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_excel('A-1_NO_OF_VILLAGES_TOWNS_HOUSEHOLDS_POPULATION_AND_AREA.xlsx')
df

,"A-1 NUMBER OF VILLAGES, TOWNS, HOUSEHOLDS, POPULATION AND AREA",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,State Code,District Code,Sub District Code,India/ State/ Union Territory/ District/ Sub-d...,Name,Total/\nRural/\nUrban,Number of villages,NaN,Number of towns,Number of households,Population,NaN,NaN,Area\n (In sq. km),Population per sq. km.
1,NaN,NaN,NaN,NaN,NaN,NaN,Inhabited,Uninhabited,NaN,NaN,Persons,Males,Females,NaN,NaN
2,1,2,3,4,5,6,7,8,9,10,11,12,13,13,14
3,00,000,00000,INDIA,INDIA @&,Total,597608,43324,7933,249501663,1210854977,623270258,587584719,3287469,382
4,00,000,00000,INDIA,INDIA $,Rural,597608,43324,0,168612897,833748852,427781058,405967794,3101473.97,279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20018,NaN,NaN,The same has also been done while working out ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20019,NaN,(ii),Rural and Urban population of Arunachal Prades...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20020,NaN,5,"Area figures in 6 districts (Koriya, Sarguja, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20022,NaN,NA -,Not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.head()
df.tail()
df.info()
df.shape
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20023 entries, 0 to 20022
Data columns (total 15 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   A-1 NUMBER OF VILLAGES, TOWNS, HOUSEHOLDS, POPULATION AND AREA  19994 non-null  object
 1   Unnamed: 1                                                      20012 non-null  object
 2   Unnamed: 2                                                      20016 non-null  object
 3   Unnamed: 3                                                      19997 non-null  object
 4   Unnamed: 4                                                      19997 non-null  object
 5   Unnamed: 5                                                      19997 non-null  object
 6   Unnamed: 6                                                      19995 non-null  object
 7   Unnamed: 7                                                      19994 non-null  object
 8   Unnamed: 8                                                      19994 non-null  object
 9   Unnamed: 9                                                      19994 non-null  object
 10  Unnamed: 10                                                     19995 non-null  object
 11  Unnamed: 11                                                     19994 non-null  object
 12  Unnamed: 12                                                     19994 non-null  object
 13  Unnamed: 13                                                     19877 non-null  object
 14  Unnamed: 14                                                     19877 non-null  object
dtypes: object(15)
memory usage: 2.3+ MB

,"A-1 NUMBER OF VILLAGES, TOWNS, HOUSEHOLDS, POPULATION AND AREA",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
count,19994,20012,20016,19997,19997,19997,19995,19994,19994,19994,19995,19994,19994,19877,19877
unique,39,661,5948,9,6061,7,896,225,84,13101,13965,13708,13721,13088,11068
top,28,554,00000,SUB-DISTRICT,Area not under any Sub-district,Urban,0,0,0,0,0,0,0,0,0
freq,3456,201,2028,17964,90,6665,6894,10746,12208,2834,2834,2834,2835,2825,2834

In [5]:
df.describe().T

,count,unique,top,freq
"A-1 NUMBER OF VILLAGES, TOWNS, HOUSEHOLDS, POPULATION AND AREA",19994,39,28,3456
Unnamed: 1,20012,661,554,201
Unnamed: 2,20016,5948,00000,2028
Unnamed: 3,19997,9,SUB-DISTRICT,17964
Unnamed: 4,19997,6061,Area not under any Sub-district,90
Unnamed: 5,19997,7,Urban,6665
Unnamed: 6,19995,896,0,6894
Unnamed: 7,19994,225,0,10746
Unnamed: 8,19994,84,0,12208
Unnamed: 9,19994,13101,0,2834
Unnamed: 10,19995,13965,0,2834
Unnamed: 11,19994,13708,0,2834
Unnamed: 12,19994,13721,0,2835
Unnamed: 13,19877,13088,0,2825
Unnamed: 14,19877,11068,0,2834

In [6]:
df.isnull().sum()

A-1 NUMBER OF VILLAGES, TOWNS, HOUSEHOLDS, POPULATION AND AREA     29
Unnamed: 1                                                         11
Unnamed: 2                                                          7
Unnamed: 3                                                         26
Unnamed: 4                                                         26
Unnamed: 5                                                         26
Unnamed: 6                                                         28
Unnamed: 7                                                         29
Unnamed: 8                                                         29
Unnamed: 9                                                         29
Unnamed: 10                                                        28
Unnamed: 11                                                        29
Unnamed: 12                                                        29
Unnamed: 13                                                       146
Unnamed: 14                                                       146
dtype: int64

In [12]:
df[' Unnamed:1'] = df[' Unnamed:1'].fillna('NA')

KeyError: ' Unnamed:1'