This Project includes the Basic Data Analysis of student performance dataset

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('World_temperature.csv')
df

,utc_time,local_time,country,capital,continent,temperature,temp_min,temp_max,humidity,feels_like,...,cloudcover,wind_speed,wind_gust,wind_direction,pressure,is_day,weather_code,weather_main,weather_description,weather_icon
0,2025-11-01 00:00:00,2025-11-01 04:00:00,Abkhazia,Sukhumi,Unknown,11.39,11.39,11.39,55,10.02,...,14,2.77,3.10,61,1022,0,801,Clouds,few clouds,02n
1,2025-11-01 06:00:08,2025-11-01 10:00:08,Abkhazia,Sukhumi,Unknown,14.20,14.20,14.20,52,13.03,...,9,1.36,1.69,98,1023,1,800,Clear,clear sky,01d
2,2025-11-01 12:00:03,2025-11-01 16:00:03,Abkhazia,Sukhumi,Unknown,17.10,17.10,17.10,61,16.46,...,22,1.28,0.97,200,1023,1,801,Clouds,few clouds,02d
3,2025-11-01 18:00:10,2025-11-01 22:00:10,Abkhazia,Sukhumi,Unknown,12.17,12.17,12.17,75,11.40,...,3,2.50,2.43,56,1025,0,800,Clear,clear sky,01n
4,2025-11-02 00:00:02,2025-11-02 04:00:02,Abkhazia,Sukhumi,Unknown,10.73,10.73,10.73,68,9.63,...,4,2.41,2.44,50,1025,0,800,Clear,clear sky,01n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30235,2025-11-29 18:00:25,2025-11-29 20:00:25,Zimbabwe,Harare,Africa,18.22,18.22,18.22,79,18.16,...,83,2.41,5.27,154,1013,0,500,Rain,light rain,10n
30236,2025-11-30 00:00:19,2025-11-30 02:00:19,Zimbabwe,Harare,Africa,16.00,16.00,16.00,83,15.82,...,100,1.25,1.48,171,1012,0,804,Clouds,overcast clouds,04n
30237,2025-11-30 06:00:18,2025-11-30 08:00:18,Zimbabwe,Harare,Africa,21.00,21.00,21.00,71,21.01,...,100,2.66,4.33,25,1013,1,804,Clouds,overcast clouds,04d
30238,2025-11-30 12:00:24,2025-11-30 14:00:24,Zimbabwe,Harare,Africa,24.45,24.45,24.45,52,24.31,...,100,2.78,4.13,314,1009,1,501,Rain,moderate rain,10d
30239,2025-11-30 18:00:22,2025-11-30 20:00:22,Zimbabwe,Harare,Africa,18.22,18.22,18.22,79,18.16,...,80,2.25,4.57,145,1013,0,500,Rain,light rain,10n

In [11]:
df.head()
df.tail()
df.info()
df.shape
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30240 entries, 0 to 30239
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   utc_time             30240 non-null  object
 1   local_time           30240 non-null  object
 2   country              30240 non-null  object
 3   capital              30240 non-null  object
 4   continent            30240 non-null  object
 5   temperature          30240 non-null  float64
 6   temp_min             30240 non-null  float64
 7   temp_max             30240 non-null  float64
 8   humidity             30240 non-null  int64
 9   feels_like           30240 non-null  float64
 10  visibility           30207 non-null  float64
 11  precipitation        30240 non-null  float64
 12  cloudcover           30240 non-null  int64
 13  wind_speed           30240 non-null  float64
 14  wind_gust            30240 non-null  float64
 15  wind_direction       30240 non-null  int64
 16  pressure             30240 non-null  int64
 17  is_day               30240 non-null  int64
 18  weather_code         30240 non-null  int64
 19  weather_main         30240 non-null  object
 20  weather_description  30240 non-null  object
 21  weather_icon         30240 non-null  object
dtypes: float64(8), int64(6), object(8)
memory usage: 4.2+ MB

,temperature,temp_min,temp_max,humidity,feels_like,visibility,precipitation,cloudcover,wind_speed,wind_gust,wind_direction,pressure,is_day,weather_code
count,30240.000000,30240.000000,30240.000000,30240.000000,30240.000000,30207.000000,30240.000000,30240.000000,30240.000000,30240.000000,30240.000000,30240.000000,30240.000000,30240.000000
mean,18.638015,18.318834,18.904847,72.543188,18.788823,9320.606250,0.121339,48.454861,3.501963,1.922860,152.524868,1013.982705,0.449570,747.607407
std,10.105116,10.223095,10.046789,20.250756,11.999306,1873.937405,0.903147,36.539924,2.499439,3.485438,109.813954,6.339633,0.497459,119.325557
min,-41.150000,-41.150000,-41.150000,5.000000,-48.150000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,960.000000,0.000000,200.000000
25%,11.560000,11.010000,11.880000,63.000000,10.590000,10000.000000,0.000000,20.000000,1.540000,0.000000,61.000000,1011.000000,0.000000,800.000000
50%,21.750000,21.510000,21.930000,77.000000,21.740000,10000.000000,0.000000,40.000000,3.090000,0.000000,130.000000,1014.000000,0.000000,801.000000
75%,26.680000,26.380000,26.900000,88.000000,26.832500,10000.000000,0.000000,75.000000,4.862500,2.582500,240.000000,1017.000000,1.000000,803.000000
max,39.990000,39.990000,39.990000,100.000000,45.990000,10000.000000,92.850000,100.000000,26.750000,34.470000,360.000000,1060.000000,1.000000,804.000000

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
temperature,30240.0,18.638015,10.105116,-41.15,11.56,21.75,26.6800,39.99
temp_min,30240.0,18.318834,10.223095,-41.15,11.01,21.51,26.3800,39.99
temp_max,30240.0,18.904847,10.046789,-41.15,11.88,21.93,26.9000,39.99
humidity,30240.0,72.543188,20.250756,5.00,63.00,77.00,88.0000,100.00
feels_like,30240.0,18.788823,11.999306,-48.15,10.59,21.74,26.8325,45.99
visibility,30207.0,9320.606250,1873.937405,20.00,10000.00,10000.00,10000.0000,10000.00
precipitation,30240.0,0.121339,0.903147,0.00,0.00,0.00,0.0000,92.85
cloudcover,30240.0,48.454861,36.539924,0.00,20.00,40.00,75.0000,100.00
wind_speed,30240.0,3.501963,2.499439,0.00,1.54,3.09,4.8625,26.75
wind_gust,30240.0,1.922860,3.485438,0.00,0.00,0.00,2.5825,34.47
wind_direction,30240.0,152.524868,109.813954,0.00,61.00,130.00,240.0000,360.00
pressure,30240.0,1013.982705,6.339633,960.00,1011.00,1014.00,1017.0000,1060.00
is_day,30240.0,0.449570,0.497459,0.00,0.00,0.00,1.0000,1.00
weather_code,30240.0,747.607407,119.325557,200.00,800.00,801.00,803.0000,804.00

In [13]:
# Check basic info for categorical columns

cat_col = df.select_dtypes(include = ['object']).columns.tolist()
num_cols = df.select_dtypes(include = ['int64', 'float64']).columns.tolist()

print("Categorical columns:", cat_col)
print("Numeric columns:", num_cols)

for col in cat_col:
    print(f"\nValue counts for '{col}':")
    print(df[col].value_counts())

Categorical columns: ['utc_time', 'local_time', 'country', 'capital', 'continent', 'weather_main', 'weather_description', 'weather_icon']
Numeric columns: ['temperature', 'temp_min', 'temp_max', 'humidity', 'feels_like', 'visibility', 'precipitation', 'cloudcover', 'wind_speed', 'wind_gust', 'wind_direction', 'pressure', 'is_day', 'weather_code']

Value counts for 'utc_time':
utc_time
2025-11-20 18:14:43    20
2025-11-07 06:00:14    20
2025-11-20 18:14:41    20
2025-11-20 18:14:50    20
2025-11-11 18:00:12    20
                       ..
2025-11-17 12:00:07     1
2025-11-19 12:00:09     1
2025-11-21 12:00:06     1
2025-11-24 12:00:06     1
2025-11-30 18:00:22     1
Name: count, Length: 2113, dtype: int64

Value counts for 'local_time':
local_time
2025-11-26 14:00:16    11
2025-11-23 08:00:11    11
2025-11-03 14:00:18    10
2025-11-22 14:00:15    10
2025-11-04 08:00:11    10
                       ..
2025-11-19 15:00:10     1
2025-11-17 03:00:10     1
2025-11-16 15:00:09     1
2025-11-12 15:00:14     1
2025-11-29 02:00:23     1
Name: count, Length: 12750, dtype: int64

Value counts for 'country':
country
Abkhazia            120
Papua New Guinea    120
Niger               120
Nigeria             120
Niue                120
                   ...
Grenada             120
Guadeloupe          120
Guam                120
Guatemala           120
Zimbabwe            120
Name: count, Length: 252, dtype: int64

Value counts for 'capital':
capital
Nicosia           240
Willemstad        240
Kingston          240
Sukhumi           120
Islamabad         120
                 ...
St. George's      120
Basse-Terre       120
HagÃ¥tÃ±a         120
Guatemala City    120
Harare            120
Name: count, Length: 249, dtype: int64

Value counts for 'continent':
continent
Africa           6840
Europe           6480
Asia             6240
North America    4680
Oceania          2760
South America    1800
Unknown          1200
Antarctica        240
Name: count, dtype: int64

Value counts for 'weather_main':
weather_main
Clouds          17909
Clear            6112
Rain             4126
Mist              539
Haze              344
Fog               299
Snow              290
Drizzle           218
Thunderstorm      196
Smoke             161
Dust               43
Sand                2
Tornado             1
Name: count, dtype: int64

Value counts for 'weather_description':
weather_description
clear sky                          6112
broken clouds                      5414
overcast clouds                    4540
few clouds                         4000
scattered clouds                   3955
light rain                         3219
moderate rain                       619
mist                                539
haze                                344
fog                                 299
light snow                          183
light intensity drizzle             164
smoke                               161
light intensity shower rain         127
thunderstorm                        120
heavy intensity rain                117
snow                                 98
thunderstorm with light rain         52
dust                                 43
drizzle                              37
shower rain                          31
thunderstorm with rain               21
light intensity drizzle rain         13
heavy intensity shower rain           6
very heavy rain                       5
light shower snow                     5
drizzle rain                          3
light rain and snow                   3
thunderstorm with heavy rain          2
sand                                  2
freezing rain                         1
thunderstorm with light drizzle       1
heavy intensity drizzle               1
tornado                               1
extreme rain                          1
sleet                                 1
Name: count, dtype: int64

Value counts for 'weather_icon':
weather_icon
04n    5452
04d    4502
01n    3566
01d    2546
02n    2168
10n    2097
03n    2030
03d    1925
10d    1864
02d    1832
50n     782
50d     607
09n     218
13n     218
09d     164
11n     121
11d      75
13d      73
Name: count, dtype: int64

In [14]:
# Check missing values

df.isnull().sum()

utc_time                0
local_time              0
country                 0
capital                 0
continent               0
temperature             0
temp_min                0
temp_max                0
humidity                0
feels_like              0
visibility             33
precipitation           0
cloudcover              0
wind_speed              0
wind_gust               0
wind_direction          0
pressure                0
is_day                  0
weather_code            0
weather_main            0
weather_description     0
weather_icon            0
dtype: int64

In [15]:
#Check for duplicate rows

print("Number of duplicate rows:",df.duplicated().sum())

Number of duplicate rows: 0

In [17]:
df_filled = df.fillna(df.mean(numeric_only=True))

print("\nMissing values after:")
print(df_filled.isnull().sum())

df_filled.to_csv("World_temperature_cleaned.csv",index=False)

df_filled.head()

Missing values after:
utc_time               0
local_time             0
country                0
capital                0
continent              0
temperature            0
temp_min               0
temp_max               0
humidity               0
feels_like             0
visibility             0
precipitation          0
cloudcover             0
wind_speed             0
wind_gust              0
wind_direction         0
pressure               0
is_day                 0
weather_code           0
weather_main           0
weather_description    0
weather_icon           0
dtype: int64

,utc_time,local_time,country,capital,continent,temperature,temp_min,temp_max,humidity,feels_like,...,cloudcover,wind_speed,wind_gust,wind_direction,pressure,is_day,weather_code,weather_main,weather_description,weather_icon
0,2025-11-01 00:00:00,2025-11-01 04:00:00,Abkhazia,Sukhumi,Unknown,11.39,11.39,11.39,55,10.02,...,14,2.77,3.10,61,1022,0,801,Clouds,few clouds,02n
1,2025-11-01 06:00:08,2025-11-01 10:00:08,Abkhazia,Sukhumi,Unknown,14.20,14.20,14.20,52,13.03,...,9,1.36,1.69,98,1023,1,800,Clear,clear sky,01d
2,2025-11-01 12:00:03,2025-11-01 16:00:03,Abkhazia,Sukhumi,Unknown,17.10,17.10,17.10,61,16.46,...,22,1.28,0.97,200,1023,1,801,Clouds,few clouds,02d
3,2025-11-01 18:00:10,2025-11-01 22:00:10,Abkhazia,Sukhumi,Unknown,12.17,12.17,12.17,75,11.40,...,3,2.50,2.43,56,1025,0,800,Clear,clear sky,01n
4,2025-11-02 00:00:02,2025-11-02 04:00:02,Abkhazia,Sukhumi,Unknown,10.73,10.73,10.73,68,9.63,...,4,2.41,2.44,50,1025,0,800,Clear,clear sky,01n

In [19]:
#Basic sanity check

print("Country:", df['country'].min(), "to", df['country'].max())
print("temperature:", df['temperature'].min(), "to", df['temperature'].max())
print("Humidity:", df['humidity'].min(), "to", df['humidity'].max())

Country: Abkhazia to Zimbabwe
temperature: -41.15 to 39.99
Humidity: 5 to 100